.chat-main
  .chat-main__group-info
    .chat-main__group-nameANDmember
      .chat-main__group-name
        = @group.name
      .chat-main__group-member
        Member:
        - @group.users.each do |user|
          = user.name
    .chat-main__edit
      = link_to edit_group_path(current_user.id), class: "chat-main__edit-btn" do
        Edit

  .chat-main__message
    = render @messages

  .chat-main__message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'message-input-text', placeholder: 'type a message'
      .chat-main__image-select
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'file-select'
      = f.submit 'Send', class: 'send-btn'