.side-bar  

  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to "#", class: "top-items__btn" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "top-items__btn" do
          = icon('fas', 'cog')
  .side-bar__group-list
    .buttom-items
      .buttom-items__group-name
        tech::camp
      .buttom-items__message
        まだメッセージがありません